/* MAJOR VANILLA TAGS*/
html {
    height: 100%;
}

body {
    background: rgb(44, 44, 44);
    font-family: 'Roboto', sans-serif;
    min-height: 100%;

    display: grid;
    grid-template-rows: 2em 1fr 2em;
    grid-template-columns: 1fr;
}

header {
    height: 2em;
    width: 100%;
    background: rgb(71, 71, 71);
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    height: 2em;
    width: 100%;
    background: rgb(71, 71, 71);
    grid-column: 1/-1;
    margin-top: auto;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

/* MAJOR VANILLA TAGS*/

/* BOARD CSS */
.game {
    grid-column: 1/3;
}

.board{
    display: grid;
    margin: auto;
    grid: repeat(3,1fr) / repeat(3,1fr);
    height: 50vmin;
    width: 50vmin;
    grid-gap: 0.5em;
    background: rgb(35, 177, 202);
    border-radius: 30%;
}

.square{
    background: white;
    height: 100%;
    border-radius: 5px;
}

/* !X mark*/
.x{
    display: block;
    height: 100%;
    width: 100%;
}
.x::before{
    content: "";
    background: black;
    display: block;
    position: relative;
    width: 10%;
    height: 100%;
    z-index: 0;
    margin: auto;
    transform: rotate(-45deg);
}
.x:after{
    content: "";
    background: black;
    display: block;
    position: relative;
    width: 10%;
    height: 100%;
    bottom: 100%;
    z-index: 0;
    margin: auto;
    transform: rotate(45deg);
}

/* !O Mark*/
.o{
    border-style: solid;
    border-width: 6px;
    border-color: black;
    border-radius: 50%;
    position: relative;
    top: 2%;
    margin: auto;
    height: 75%;
    width: 75%;
}
/* BOARD CSS */

/* OPTIONS */
.options{
    padding: 10px 0px;
}

.options__holder{
}
/* OPTIONS */

/* FOOTER CSS */
.foot {
    position: absolute;
    right: 0px;
}

.foot__icons {
    color: white;
    padding: 0px 20px;
}

/* FOOTER CSS */

/* MODAL POPUP */
.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal__content {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userInput {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    justify-content: space-evenly;
}

.optionBtn{
    height: auto;
    width: auto;
    background: white;
    color: #357edd;
    padding: 0.5em;
    border-radius: 5px;
    border-style: solid;
    border-color: #357edd;
    border-width: 2px;
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
}
.optionBtn:hover{
    cursor: pointer;
    background: #357edd;
    color: white;
}
.optionBtn:focus{
    outline:0;
}
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 30px;
    font-weight: bolder;
    transform: rotate(45deg);
    cursor: pointer;
}
/* MODAL POPUP */